<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DHI.DFS" version="23.0.3" />
  <package id="DHI.PFS" version="23.0.3" />
  <package id="DHI.EUM" version="23.0.3" />
  <package id="DHI.DHIfl" version="23.0.3" />
  <package id="DHI.Projections" version="23.0.3" />
  <package id="DHI.MikeCore.Linux.ubuntu22" version="23.0.3" />
</packages>